# ===============================
# Environment variables
# ===============================
.env
.env.*


# ===============================
# Node dependencies
# ===============================
node_modules/

